
/* Body */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Nav Bar */
.nav-link-right {
    text-align: right;
}

/* Footer */
#footer {
    text-align: center;
    padding: 10px;
}


/* Media queries */
@media only screen and (min-width: 768px) {
    #user-status {
        order: 3;
    }
    #logo {
        order: 2;
    }
}

@media only screen and (max-width: 767px) {
    #logo {
        flex-grow: 1;
    }
}
