{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Checklist Templates</h1>
    <ul>
        {% for checklist_template in checklist_templates %}
            <li>
                {{ checklist_template.name }}
                <a href="{% url 'dj_tasks:checklist_template_detail' checklist_template.pk %}" class="btn btn-primary">View Details</a>
            </li>
        {% empty %}
            <li>No checklist templates available.</li>
        {% endfor %}
    </ul>
{% endblock %}
